<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>pro</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>DeptServlet</servlet-name>
    <servlet-class>com.zy.servlet.DeptServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>mybatisservlet</servlet-name>
    <servlet-class>com.zy.servlet.mybatisservlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DeptServlet1</servlet-name>
    <servlet-class>com.zy.servlet.DeptServlet1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeptServlet</servlet-name>
    <url-pattern>/dept</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>mybatisservlet</servlet-name>
    <url-pattern>/mybatisservlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeptServlet1</servlet-name>
    <url-pattern>/DeptServlet1</url-pattern>
  </servlet-mapping>
</web-app>